.inline-editable-number-display,
.inline-editable-number-input {
  padding: 1px 4px;
  text-align: center;
  font-variant-numeric: tabular-nums; 
}

.inline-editable-number-display {
  cursor: text; 
  
  border: 1px dashed transparent;
  border-radius: var(--radius-sm);

  transition: background var(--transition-duration),
              border-color var(--transition-duration),
              outline-color var(--transition-duration);
}

.inline-editable-number-display:hover {
  background: var(--bg-secondary);
  border-color: var(--border-color);
  outline: none; 
}


.inline-editable-number-input {
  field-sizing: content;
  margin: 0;
  appearance: textfield; 
}


.inline-editable-number-input:focus-visible {
  outline: 1px solid var(--accent-primary);
  /* border-color: var(--accent-active); */
}

/* Remove spinner arrows for cleaner look */
.inline-editable-number-input::-webkit-inner-spin-button,
.inline-editable-number-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.inline-editable-number-input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}