.collection-items-display-header {
  display: none;
}

.playlist-panel {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-y: auto;
  /* background-color: var(--bg-tertiary); */
  border-radius: 6px;
  /* padding: 1rem; */
}

.panel-header {
  display: flex;
  padding: 0.5rem 0rem; 
  border-bottom: 1px solid var(--border-color);
  position: relative;
  align-items: center; 
}

.panel-header h3 {
  margin: 0 1rem; 
  text-align: center;
  position: relative;
  color: var(--text-primary);
  font-size: 1.2rem;
  font-weight: 600;
  flex-grow: 1; 
}

.back-button {
  background-color: transparent;
  font-size: 1.8rem;
  padding: 0;
  margin-left: 1rem; 
  color: var(--text-primary);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease;
  flex-shrink: 0; 
}

.back-button:hover {
  background-color: transparent;
  transform: translateY(-1px);
}

.play-all-button {
  background-color: transparent;
  color: var(--text-primary);
  border: none;
  padding: 0;
  cursor: pointer;
  transition: all 0.2s ease;
  font-size: 1.5rem;
  margin-right: 1rem; 
  flex-shrink: 0;
}

.play-all-button:hover {
  background-color:  transparent;
  transform: scale(1.05);
}
.playlist-panel .collection-items-display thead {
  display: none;
}

.playlist-panel .audio-item-row {
  cursor: pointer;
  transition: all 0.2s ease;
  background-color: var(--bg-secondary);
}

.playlist-panel .audio-item-row:hover {
  background-color: rgba(53, 114, 227, 0.08);
}

.playlist-panel .audio-item-row:hover .item-actions .play-button {
  opacity: 1;
}

.playlist-panel [data-item-id] td:first-child {
  position: relative;
}

.playlist-panel .audio-item-row:not(.playlist) td:nth-child(1) {
  width: 40px;
  text-align: center;
}

.playlist-panel .audio-item-row:not(.playlist) .position-number {
  transition: opacity 0.2s ease;
  opacity: 1;
}

.playlist-panel .audio-item-row:not(.playlist):hover .position-number {
  opacity: 0;
}

.playlist-panel .audio-item-table {
  background-color: transparent;
  box-shadow: none;
}

.playlist-panel .audio-item-table td {
  padding: 0.6rem 0.8rem;
}

.playlist-panel .audio-item-table th {
  padding: 0.6rem 0.8rem;
  background-color: rgba(53, 114, 227, 0.05);
  color: var(--text-secondary);
}

.playlist-panel .audio-item-table th,
.playlist-panel .audio-item-table td {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.playlist-panel .audio-item-row.playing {
  background-color: rgba(53, 114, 227, 0.2);
  position: relative;
}

.playlist-panel .audio-item-row.playing::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 3px;
  background-color: var(--accent-primary);
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% { opacity: 0.6; }
  50% { opacity: 1; }
  100% { opacity: 0.6; }
}

