.collection-items-display-header {
  display: none;
}

.playlist-panel {
  display: flex;
  flex-direction: column;
  height: 100%;
}



.playlist-panel .collection-items-display thead {
  display: none;
  min-height: 0;
}

.playlist-panel .collection-items-display {
  flex: 1 1 auto;
  min-height: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.playlist-panel .audio-item-table{
  overflow-y: auto;
}

.playlist-panel .audio-item-row {
  cursor: pointer;
  transition: all 0.2s ease;
  background-color: var(--bg-secondary);
}

.playlist-panel .audio-item-row:hover {
  background-color: rgba(53, 114, 227, 0.08);
}

.playlist-panel .audio-item-row:hover .item-actions .play-button {
  opacity: 1;
}

.playlist-panel [data-item-id] td:first-child {
  position: relative;
}

.playlist-panel .audio-item-row:not(.playlist) td:nth-child(1) {
  width: 40px;
  text-align: center;
}

.playlist-panel .audio-item-row:not(.playlist) .position-number {
  transition: opacity 0.2s ease;
  opacity: 1;
}

.playlist-panel .audio-item-row:not(.playlist):hover .position-number {
  opacity: 0;
}

.playlist-panel .audio-item-table td {
  padding: 0.6rem 0.8rem;
}

.playlist-panel .audio-item-table th {
  padding: 0.6rem 0.8rem;
  background-color: rgba(53, 114, 227, 0.05);
  color: var(--text-secondary);
}

.playlist-panel .audio-item-table th,
.playlist-panel .audio-item-table td {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.playlist-panel .audio-item-row.playing {
  background-color: rgba(53, 114, 227, 0.2);
  position: relative;
}

.playlist-panel .audio-item-row.playing::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 3px;
  background-color: var(--accent-primary);
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    opacity: 0.6;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.6;
  }
}

/* Specific styling for playlists in the main view */
.playlist-panel .audio-item-row.playlist {
  margin-bottom: 2px;
  border-radius: 6px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  position: relative;
}

.playlist-panel .audio-item-row.playlist:after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, var(--border-color), transparent);
}

.playlist-panel .audio-item-row.playlist:last-child:after {
  display: none;
}

/* Add padding to the left of playlist names */
.playlist-panel .audio-item-row.playlist .item-name-cell {
  padding-left: 12px;
}

.playlist-panel .audio-item-row.playlist.selected {
  background-color: rgba(53, 114, 227, 0.15);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
}

/* Hover effect for playlists */
.playlist-panel .audio-item-row.playlist:hover {
  transform: translateY(0px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.08);
}